* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 32px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.treact__name {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  padding: 16px;
}

.nav__links,
.nav__login--links {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-weight: bold;
}

.sign-up {
  background-color: #6415ff;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 32px;
}

.sign-up:hover {
  background-color: rgb(80, 17, 204);
}

/* HEADER */

.purple {
  color: #6415ff;
}

.header {
  margin: 48px 48px 64px 48px;
  padding: 32px;
}

.email__setup {
  width: 37%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 8px;
}
