* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* BODY */

body {
    max-width: 1400px;
    margin: 0 auto;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 16px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.treact__name {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  padding: 16px;
  font-size: 16px;

}

li {
  font-weight: bold;
  font-size: small;
}

li:not(:last-of-type):hover {
  border-bottom: 3px solid #6415ff;
}

.nav__links, {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.btn {
  background-color: #6415ff;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 32px;
  font-weight: bold;
}

.sign-up:hover {
  background-color: rgb(80, 17, 204);
}

/* HEADER */

.purple {
  color: #6415ff;
}

.header {
  margin: 48px 48px 64px 48px;
  padding: 32px;
  display: flex;
}

.email__setup {
  width: 37%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 8px;
}

.email__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 620px;
}

.enter__email {
width:100%;
line-height: 4;
font-size: 16px;
border-radius: 9999px;
border: 3px solid #ccc;
text-align: left;
padding-left: 16px;
}

.enter__email:focus {
    border-color: #6415ff;
}

.email__signup .btn {
    align-items: center;
    transform: translateX(-110%);
    width: 170px;
    height: 50px;
}

/* TRUSTED CUSTOMERS */

.customers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 88px 24px 64px 0;
  padding-top: 24px;
  padding-bottom: 48px;
}

.our-trusted-customers {
font-size: smaller;
font-weight: bold;
opacity: 0.5;
}

.customer {
  scale: 0.5;
  justify-content: left;
  opacity: 0.5;
  transform: translateX(-50%)
}

.treact__header--image {
  width: 100%;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-direction: column;
  }

}