* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* BODY */

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
}

.container {
  padding: 120px 0;
  display: flex;
}

.open__mobile--menu {
  display: none;
}

/* LANDING */

#landing {
  padding: 0 32px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.treact__name {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  padding: 16px;
  font-size: 16px;
}

li {
  font-weight: bold;
  font-size: small;
}

.nav__link:not(:last-of-type):hover {
  border-bottom: 3px solid #6415ff;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.mobile__nav--links {
  display: none;
}

.btn {
  background-color: #6415ff;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 32px;
  font-weight: bold;
}

.sign-up:hover {
  background-color: rgb(80, 17, 204);
}

/* HEADER */

.purple {
  color: #6415ff;
}

.email__setup {
  flex: 1;
  max-width: 540px;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  line-height: 1.5;
  color: #243e63;
}

.email__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 32px;
  max-width: 100%;
}

.enter__email {
  width: 100%;
  padding: 20px 180px 20px 32px;
  font-size: 16px;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
  outline: none;
  transition: all 300ms ease;
}

.enter__email::placeholder {
  color: #a0aec0;
  font-weight: 500;
}

.enter__email:focus {
  border-color: #6415ff;
}

.email__signup .btn {
  position: absolute;
  right: 8px;
  padding: 16px 40px;
  font-size: 16px;
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
}

.email__signup .btn:hover {
  background-color: rgb(80, 17, 204);
}

/* TRUSTED CUSTOMERS */

.customers {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.our-trusted-customers {
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 1.6px;
  margin-bottom: 16px;
}

.customer {
  width: 100%;
  max-width: 500px;
  opacity: 0.5;
  padding-right: 128px;
}

.setup__img {
  flex: 2;
  max-width: 660px;
}

.treact__header--image {
  max-width: 100%;
  height: auto;
}

/* FEATURES SECTION */

.features__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.features__row {
  flex-direction: column;
  gap: 24px;
}

.features__row h6 {
  color: #6415ff;
  font-size: 18px;
  font-weight: 700;
}

.features__row h1 {
  font-weight: 900;
}

.features__row h1 .purple {
  display: block;
  text-align: center;
}

.features__row p {
  color: #909baa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 500px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}

.features__all {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature__img {
  border: 1px solid rgb(160, 174, 192, 0.5);
  border-radius: 50%;
  flex-shrink: 0;
  padding: 16px;
}

.feature--wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 280px;
  margin-bottom: 40px;
}

.feature--wrapper h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.feature--text p {
  margin-top: 8px;
  color: #909baa;
  line-height: 2;
}

/* QUALITY WORK SECTION */

.quality__container {
  padding: 50px 0;
  display: flex;
}

.quality__row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.quality__text {
  max-width: 480px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quality__text h6 {
  font-size: 16px;
}

.quality__text h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.5;
}

.quality__text p {
  font-size: 18px;
  font-weight: 600;
  color: #7c8ba1;
  line-height: 1.625;
}

.quality__text button {
  width: fit-content;
}

.quality__text button:hover {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.quality__img {
  width: 60%;
  max-width: 720px;
  scale: 0.6;
}

/* STEPS SECTION */

.get-started__row {
  display: flex;
}

.get-started__img {
  width: 50%;
  flex-shrink: 0;
}

.get-started__img img {
  width: 100%;
  height: auto;
}

.steps__super--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.steps--wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
  margin-left: 16px;
}

.steps__super--wrapper h6 {
  font-size: large;
  margin-bottom: 16px;
}

.steps__super--wrapper h1 {
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
}

.steps--wrapper h2 {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  margin-right: 24px;
  flex-shrink: 0;
}

.steps__text {
  line-height: 2;
}

/* PRINCIPLES SECTION */

.principles__text-button--section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 32px;
}

.principles__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.principles__text h6 {
  font-size: 16px;
  margin-bottom: 16px;
}

.principles__text h1 {
  font-weight: bold;
}

.principles__text p {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 600;
  color: #7c8ba1;
  line-height: 1.625;
}

.principles__items {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 32px;
}

.affordable__title,
.professionalism__title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.afford__para,
.prof__para {
  padding: 16px;
  line-height: 1.5;
}

.affordable__title,
.professionalism__title {
  display: flex;
  justify-content: left;
  align-items: center;
}

.affordable__img,
.professionalism__img {
  padding: 10px;
  border-radius: 50%;
  scale: 0.75;
}

.affordable__img {
  background-color: #9ae6b4;
}

.professionalism__img {
  background-color: #feb2b2;
}

.learn-more__btn {
  width: fit-content;
}

.principles__img {
  width: 50%;
}

/* PLANS SECTION */

#plans {
  margin-top: 96px;
}

.plans__row {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plans__row h6 {
  font-size: 18px;
  font-weight: 700;
}

.plans__row h1 {
  margin-top: 0;
}

.plans__para {
  max-width: 576px;
  text-align: center;
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.625;
  margin-top: 0;
}

/* PRICING CARD */

.pricing__row {
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 64px;
}

.pricing__card--1,
.pricing__card--2,
.pricing__card--3 {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: calc(33.333% - 22px);
  min-width: 300px;
  position: relative;
}

.pricing__card--1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #14b8a6;
}

.pricing__card--2 {
  background: linear-gradient(135deg, #6415ff 0%, #a78bfa 100%);
}

.pricing__card--2 * {
  color: white;
}

.pricing__card--3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(135deg, #dc2626 0%, #fca5a5 100%);
}

.price__desc--1,
.price__desc--2,
.price__desc--3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-bottom: 2px solid #e5e7eb;
  gap: 16px;
}

.price__desc--1 h5,
.price__desc--1 h1,
.price__desc--1 h6,
.price__desc--2 h5,
.price__desc--2 h1,
.price__desc--2 h6,
.price__desc--3 h5,
.price__desc--3 h1,
.price__desc--3 h6 {
  margin: 0;
}

.plan__1,
.plan__2,
.plan__3 {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  border-bottom: 2px solid #e5e7eb;
}

.plan__1--list,
.plan__2--list,
.plan__3--list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  text-align: center;
}

.plan__1--btn,
.plan__2--btn,
.plan__3--btn {
  background-color: #14b8a6;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 32px auto;
  width: fit-content;
  transition: all 300ms ease;
}

.plan__2--btn {
  background-color: white;
  color: #6415ff;
}

.plan__3--btn {
  background: linear-gradient(135deg, #dc2626 0%, #fca5a5 100%);
  color: white;
}

.plan__1--btn:hover,
.plan__2--btn:hover,
.plan__3--btn:hover {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 20px rgba(20, 184, 166, 0.4);
}

.plan__1--btn:active,
.plan__2--btn:active,
.plan__3--btn:active {
  animation: jolt 200ms ease;
}

@keyframes jolt {
  0% {
    transform: translate(4px, -4px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* TESTIMONIALS SECTION */

.testimonials__row {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.testimonials__img {
  width: 50%;
  flex-shrink: 0;
}

.testimonials__img img {
  width: 100%;
  height: auto;
}

.testimonials__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.testimonials__h6 {
  font-size: 20px;
}

.testimonials__desc .fa-star {
  color: #fbbf24;
  font-size: 20px;
}

.star-rating {
  display: flex;
  gap: 4px;
  margin-top: 24px;
}

.user__profile__desc {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user__profile__desc img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
}

.user__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user__desc h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.user__desc h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
}

.testimonial__scroll {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.testimonial__left--arrow,
.testimonial__right--arrow {
  padding: 12px;
  border-radius: 50%;
  background-color: #edf2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border: none;
  position: relative;
}

.testimonial__left--arrow::after {
  content: "";
  position: absolute;
  right: -9px;
  width: 1px;
  height: 48px;
  background-color: #e5e7eb;
}

.testimonial__left--arrow i,
.testimonial__right--arrow i {
  font-size: 20px;
  color: #6415ff;
}

.testimonials__desc p {
  font-size: 16px;
}

/* DEVELOPERS BOTTOM SECTION */

.bg-purple {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6415ff;
  width: 100%;
  height: auto;
  padding: 64px 64px;
  margin-bottom: 96px;
}

.bg-purple h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
  width: 50%;
}

.buttons__bottom__group {
  display: flex;
  margin-right: 64px;
  justify-content: end;
  gap: 48px;
  width: 50%;
}

.get__started__bottom--btn {
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  border: none;
  padding: 24px 48px;
  border-radius: 9999px;
}

.get__started__bottom--btn:hover {
  transition: all 300ms ease;
  background-color: red;
}

.contact__us__bottom--btn {
  font-weight: bold;
  color: white;
  background-color: #6415ff;
  border: 1px solid white;
  padding: 24px 48px;
  border-radius: 9999px;
}

.contact__us__bottom--btn:hover {
  transition: all 300ms ease;
  background-color: white;
  color: #6415ff;
}

/* TABLETS AND MOBILE DEVICES  */

@media (max-width: 768px) {
  .hide,
  .show {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .hide {
    animation: slideOut 300ms ease forwards;
    pointer-events: none;
  }

  .show {
    animation: slideIn 300ms ease forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
      visibility: hidden;
    }
  }

  .nav__links {
    display: none;
  }

  .open__mobile--menu {
    display: block;
    margin-left: auto;
    scale: 2.75;
    position: relative;
    z-index: 1001;
  }

  .mobile__menu--btn {
    border: none;
  }

  #landing {
    padding: 0 24px;
  }

  nav {
    gap: 24px;
  }

  .nav__links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container {
    padding: 48px 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .email__setup {
    max-width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 16px;
    margin-top: 24px;
  }

  .email__signup {
    flex-direction: column;
    gap: 16px;
  }

  .enter__email {
    padding: 20px 24px;
  }

  .email__signup .btn {
    position: static;
    width: 100%;
    padding: 16px 32px;
  }

  .customers {
    margin-top: 48px;
    align-items: center;
  }

  .our-trusted-customers {
    text-align: center;
  }

  .customer {
    padding-right: 0;
    max-width: 100%;
  }

  .setup__img {
    max-width: 100%;
  }

  /* FEATURES MOBILE */

  .feature--wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features__row h1 {
    font-size: 32px;
  }

  .features__row p {
    font-size: 16px;
  }

  /* QUALITY MOBILE */

  .quality__container {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .quality__row {
    flex-direction: column-reverse;
  }

  .quality__text {
    width: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .quality__text h1 {
    text-align: center !important;
  }

  .quality__img {
    width: 100% !important;
    max-width: 100% !important;
    scale: 1 !important;
  }

  .quality__img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .quality__row h1 {
    font-size: 32px;
  }

  .quality__row p {
    font-size: 16px;
  }

  /* STEPS MOBILE SECTION */

  .get-started__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .get-started__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .steps__super--wrapper {
    width: 100%;
    align-items: center;
  }

  .steps__super--wrapper h6 {
    text-align: center;
  }

  .steps__super--wrapper h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
  }

  .steps--wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps--wrapper h2 {
    margin-bottom: 16px;
    margin-right: 0;
  }

  /* PRINCIPLES MOBILE */

  #principles .container {
    flex-direction: column-reverse;
  }

  #principles .row {
    flex-direction: column-reverse;
  }

  .principles__text-button--section {
    width: 100%;
    padding-right: 0;
    align-items: center;
    padding: 0 24px;
  }

  .principles__text {
    text-align: center;
    align-items: center;
  }

  .principles__text h1 {
    text-align: center;
  }

  .principles__text p {
    font-size: 14px;
  }

  .principles__items {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .affordable__title,
  .professionalism__title {
    justify-content: center;
  }

  .afford__para,
  .prof__para {
    text-align: center;
  }

  .principles__img {
    width: 100%;
    padding: 0 24px;
  }

  .learn-more__btn {
    align-self: center;
  }

  /* PLANS MOBILE */

  #plans {
    margin-top: 128px;
  }

  .plans__row {
    gap: 24px;
  }

  .plans__row h1 {
    text-align: center;
  }

  .pricing__row {
    flex-direction: column;
    margin-top: 48px;
    padding: 0 24px;
  }

  .pricing__card--1,
  .pricing__card--2,
  .pricing__card--3 {
    max-width: 100%;
    width: 100%;
  }

  /* TESTIMONIALS MOBILE */
  .testimonials__row {
    flex-direction: column;
    text-align: center;
    padding: 0 24px;
  }

  .testimonials__img,
  .testimonials__desc {
    width: 100%;
  }

  .user__profile__desc {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .star-rating {
    justify-content: center;
  }

  .testimonial__scroll {
    position: static;
    margin-top: 24px;
    justify-content: center;
    align-self: center;
  }

  .testimonial__left--arrow::after {
    right: -9px;
  }

  .bg-purple {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6415ff;
    width: 80%;
    height: auto;
    margin-bottom: 48px;
    border-radius: 7px;
  }

  .bg-purple h2 {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
  }

  .buttons__bottom__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }

  .get__started__bottom--btn,
  .contact__us__bottom--btn {
    width: fit-content;
    white-space: nowrap;
    padding: 16px 24px;
  }

  .get__started__bottom--btn {
    background-color: red;
  }
}
