* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* BODY */

body {
    max-width: 1400px;
    margin: 0 auto;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 16px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.treact__name {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  padding: 16px;
  font-size: 16px;

}

.nav__links,
.nav__login--links {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.btn {
  background-color: #6415ff;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 32px;
  font-weight: bold;
}

.sign-up:hover {
  background-color: rgb(80, 17, 204);
}

/* HEADER */

.purple {
  color: #6415ff;
}

.header {
  margin: 48px 48px 64px 48px;
  padding: 32px;
}

.email__setup {
  width: 37%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 8px;
}

.email__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 550px;
}

.enter__email {
width:100%;
line-height: 4;
font-size: 16px;
border-radius: 9999px;
border: 3px solid #ccc;
text-align: left;
padding-left: 16px;
}

.email__signup .btn {
    align-items: center;
    transform: translateX(-110%);
    width: 170px;
    height: 50px;
}